@font-face {
  font-family: "gilroyBold";
  src: url(/Assets/fonts/Gilroy-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "gilroyRegular";
  src: url(/Assets/fonts/Gilroy-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "rubikBold";
  src: url(/Assets/fonts/Rubik-Bold.ttf) format("truetype");
}
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "gilroyBold";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
